automation/n8n/workflows/openclaw-bridge.json
{
  "name": "OpenClaw Bridge – Vereinsereignisse",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mo-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event_type }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check-event-type",
      "name": "Event-Typ prüfen",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const event = $input.first().json;\nconst eventType = event.event_type;\n\nlet message = '';\nlet hookPath = '';\n\nswitch(eventType) {\n  case 'new_member':\n    message = `Neues Mitglied: ${event.data.first_name} ${event.data.last_name} (${event.data.email})`;\n    hookPath = '/hooks/new-member';\n    break;\n  case 'new_donation':\n    message = `Neue Spende: €${event.data.amount} von ${event.data.donor_name}`;\n    hookPath = '/hooks/new-donation';\n    break;\n  case 'new_event':\n    message = `Neues Event: ${event.data.title} am ${event.data.date}`;\n    hookPath = '/hooks/new-event';\n    break;\n  case 'dunning_due':\n    message = `Mahnlauf: ${event.data.count} offene Beiträge`;\n    hookPath = '/hooks/dunning-due';\n    break;\n  case 'daily_report':\n    message = event.data.report_text;\n    hookPath = '/hooks/daily-report';\n    break;\n  default:\n    message = `Unbekanntes Ereignis: ${eventType}`;\n    hookPath = '/hooks/wake';\n}\n\nreturn [{ json: { ...event, message, hookPath } }];"
      },
      "id": "format-message",
      "name": "Nachricht formatieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:18789{{ $json.hookPath }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENCLAW_HOOK_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.message }}"
            },
            {
              "name": "mode",
              "value": "now"
            }
          ]
        },
        "options": {}
      },
      "id": "openclaw-webhook",
      "name": "OpenClaw benachrichtigen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"Event weitergeleitet\" }"
      },
      "id": "respond-ok",
      "name": "Erfolg antworten",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"error\", \"message\": \"Kein event_type angegeben\" }",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Fehler antworten",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 420]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Event-Typ prüfen", "type": "main", "index": 0 }]
      ]
    },
    "Event-Typ prüfen": {
      "main": [
        [{ "node": "Nachricht formatieren", "type": "main", "index": 0 }],
        [{ "node": "Fehler antworten", "type": "main", "index": 0 }]
      ]
    },
    "Nachricht formatieren": {
      "main": [
        [{ "node": "OpenClaw benachrichtigen", "type": "main", "index": 0 }]
      ]
    },
    "OpenClaw benachrichtigen": {
      "main": [
        [{ "node": "Erfolg antworten", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Leitet Vereinsereignisse (neue Mitglieder, Spenden, Events) an den lokalen OpenClaw-Agenten weiter.",
    "version": "1.0.0"
  }
}
